
.rotate {
    animation: rotation 8s infinite linear;
}

.menuButton {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffe500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: black 0px 10px 0px;
    cursor: pointer;

}

.normalButton {
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffe500;
    font-weight: bold;
    font-size: 30px;

    cursor: pointer;
}

.dashed {
    border: 1px dashed black;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}